@import '../typography.module.css';
@import '../../styles/media-queries.css';
@import '../../styles/layout.css';

.about {
  @extend %section;

  max-width: 1440px;

  @media (--media-min-large) {
    text-align: center;
  }
}

.heading {
  @extend .title1;
  margin: 0 0 38px;
}
