.contact {
  background-color: #f6f6f6;
}

@media (min-width: 899px) {
  .contact {
    text-align: center;
  }
}

.contact__heading {
  margin: 0 0 38px;
}

.contact__body {
}

.contact__body {
  display: flex;
  flex-flow: column nowrap;
}

@media (min-width: 899px) {
  .contact__body {
    flex-direction: row;
    justify-content: stretch;
    align-items: stretch;
  }

  .contact__form-container {
    flex: 3 3 450px;
  }
}

.contact__form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: stretch;
  align-items: center;
}

.contact__form-input,
.contact__form-submit {
  display: block;
  flex: 1 1 100%;
  width: 100%;
  padding: 21px 30px 19px;
  margin: 44px 0;

  transition: opacity 0.2s ease-out;

  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.6px;
  line-height: 19px;

  opacity: 0.5;
}

.contact__form-input:focus,
.contact__form-submit:focus,
.contact__form-submit:hover {
  opacity: 1;
  outline: none;
}

.contact__form-input {
  border: 1px solid #1d1f24;
}

.contact__form-submit {
  padding-bottom: 21px;

  background-color: #1d1f24;

  color: #ffffff;
  text-align: center;

  opacity: 0.75;
}

.contact__divider {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  color: #222222;
  font-family: Lato;
  font-size: 34px;
  font-weight: 600;
  line-height: 34px;

  vertical-align: middle;
  line-height: 1;
}

@media (min-width: 899px) {
  .contact__divider {
    width: 32px;
    flex-direction: column;
    flex: 0 0 32px;
    margin: 0 9vw;
  }
}

.contact__divider::before,
.contact__divider::after {
  content: "";
  width: 30vw;
  height: 2px;
  background: #979797;
  margin-top: 7px;
}

@media (min-width: 899px) {
  .contact__divider::before {
    margin-bottom: 40px;
  }

  .contact__divider::after {
    margin-top: 40px;
  }

  .contact__divider::before,
  .contact__divider::after {
    width: 2px;
    height: 50px;
    flex: 1 1 auto;
    background: #979797;
    margin-left: 0;
    margin-right: 0;
  }
}

.contact__phone-numbers {
  flex: 2 2 auto;
}
