@import '../../styles/media-queries.css';

.container {
  display: flex;
  padding: 19px 30px;
  height: 70px;

  justify-content: space-between;
  align-items: center;

  position: sticky;
  top: 0;
  background: #fff;
  z-index: 10;

  @media (--media-min-large) {
    padding: 23px 40px;
  }
}

.logo {
  flex: 0 0 94px;
  width: 94px;
  height: 100%;
  margin-right: 12px;

  @media (--media-min-large) {
    margin-top: -20px;
    flex-basis: 150px;
    width: 150px;
  }
}

.logoLink {
  display: inline-block;
}

.links {
  display: flex;
  flex-flow: column nowrap;

  padding: 50px;

  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 999;

  background-color: #fff;

  transform: translateX(35%);
  opacity: 0;
  pointer-events: none;

  transition: transform 0.35s ease-out, opacity 0.15s ease-out 0.1s;

  @media (--media-min-large) {
    pointer-events: auto;
    opacity: 1;
    transform: translateX(0);

    position: static;

    display: flex;
    flex: 1 1 auto;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;

    margin: 0 -12px;
    padding: 0;

    background-color: transparent;
  }

  @media (--media-min-xl) {
    margin: 0 -24px;
  }
}

.linksOpen {
  @media (--media-max-large) {
    pointer-events: auto;
    opacity: 1;
    transform: translateX(0);
  }
}

.closeContainer {
  position: absolute;
  top: 25px;
  right: 25px;

  @media (--media-min-large) {
    display: none;
  }
}

.close {
  font-size: 1.25em;
  color: #666;
}

.linkContainer {
  margin: 15px 0;

  @media (--media-min-large) {
    display: inline-flex;
    margin: 0 10px;
  }

  @media (--media-min-xl) {
    margin: 0 18px;
  }
}

&link-base {
  text-transform: uppercase;
  text-decoration: none;
  opacity: 0.5;
  transition: opacity 0.35s;
  font-size: 13px;

  &:hover {
    opacity: 1;
  }
}

.link {
  @extend &link-base;

  display: block;
  text-align: center;
  padding: 15px 0;

  font-family: Montserrat, sans-serif;
  font-weight: 500;
  color: #393a3c;

  white-space: nowrap;

  &:visited {
    color: #393a3c;
  }

  @media (--media-min-large) {
    opacity: 0.5;
    color: #1d1f24;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 1.75px;
    line-height: 15px;
  }

  @media (--media-min-xl) {
    font-size: 14px;
    letter-spacing: 1.75px;
    line-height: 18px;
  }
}

.phoneContainer {
  flex: 0 0 auto;
}

.phone {
  @extend &link-base;

  color: #666666;
  font-family: Lato;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.3px;
  line-height: 27px;

  @media (min-width: 525px) {
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.8px;
    line-height: 15px;
    text-align: right;
  }

  @media (--media-min-xl) {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    line-height: 19px;
    text-align: right;
  }
}

.mobileMenu {
  @media (--media-min-large) {
    display: none;
  }
}
