img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: middle;
}

* {
  box-sizing: border-box;
}

.section {
  padding: 14.5vw 7.5vw;
  max-width: 1440px;

  margin-left: auto;
  margin-right: auto;
}

.dark-bg {
  h1,
  h2,
  h3,
  h4,
  h5,
  p,
  li,
  a,
  a:link {
    color: #fff;
  }
}

@media (min-width: 899px) {
  .section {
    padding: 16vw 8vw;
  }
}

@media (min-width: 1440px) {
  .section {
    padding: 230px 115px;
  }
}

.dark-bg {
  background-color: #1d1f24;
}

p,
li,
a {
  font-family: Lato, sans-serif;
}

.base-content {
  a {
    &:link {
      cursor: pointer;
      color: #58b146;

      transition: all 0.15s ease-in-out;
    }

    &:hover {
      opacity: 0.6;
    }

    &[href^='tel'] {
      color: #444;
    }
  }
}
.dark-bg .base-content a[href^='tel'] {
  color: #fff;
}
