.phone-numbers {
  display: flex;
  flex-flow: column nowrap;
  margin: 37px 0 0;
  text-align: center;
}

@media (min-width: 899px) {
  .phone-numbers {
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
  }

  .phone-numbers--vertical {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
}

.phone-number {
  margin: 25px 0 0;
}

.phone__heading {
  font-size: 7.5vw;
}

@media (min-width: 899px) {
  .phone__heading {
    font-size: 1.68vw;
    margin-bottom: 7px;
  }
}

.phone__link {
  font-size: 6vw;
  font-weight: 600;
  line-height: 1.5;

  text-decoration: none;
}

@media (min-width: 899px) {
  .phone__link {
    font-size: 1.68vw;
  }
}
