@import '../../styles/media-queries.css';

.container {
  display: flex;
  flex-flow: column nowrap;
  margin: 37px 0 0;
  text-align: center;

  @media (--media-min-large) {
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
  }
}

.vertical {
  @media (--media-min-large) {
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
}

.number {
  margin: 25px 0 0;
}

.heading {
  font-size: 24px;
  font-weight: bold;

  @media (--media-min-large) {
    margin-bottom: 7px;
  }
}

.link {
  font-size: 24px;
  line-height: 1.5;

  text-decoration: none;
}
