@import '../styles/media-queries.css';

.pageContent {
  padding: 6vw 4vw;
  max-width: 968px;
  margin: 0 auto;

  @media (min-width: 1000px) {
    padding-right: 0;
    padding-left: 0;
  }
}

.dollar {
  position: relative;

  &:before {
    display: block;
    content: '$';
    font-size: 18px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    height: 16px;
    padding-top: 25px;
    margin: auto;
  }
}
