@import '../typography.module.css';
@import '../../styles/media-queries.css';
@import '../../styles/dark-theme.css';
@import '../../containers/typography.css';

.footer {
  @extend %dark-section;
  margin-top: 2em;
}

.container {
  padding: 7.5vw;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  @media (--media-min-xl) {
    padding: 8vw;
  }

  @media (--media-min-xxl) {
    padding: 115px;
  }
}

.linksContainer {
  margin: 0 auto;

  @media (--media-min-medium) {
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-around;
  }

  @media (--media-min-xl) {
    flex-direction: column;
    justify-content: flex-start;
    flex: 0 0 auto;
  }
}

.logoContainer {
  margin-bottom: 30px;
}

.copyright,
.socialLinks {
  opacity: 0.7;
  font-size: 14px;
  line-height: 1.28;
  margin: 10px 0;
}

.copyright {
}

.socialLinks {
  margin-top: 5px;
}

.fab {
  margin: 0 9px;

  font-size: 16px;
}

.socialImg {
  height: 22px;
  width: auto;
  margin: 0 9px;
}

.links {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  max-width: 230px;

  @media (--media-min-medium) {
    margin-left: 2em;
  }

  @media (--media-min-large) {
    flex-flow: column nowrap;
    align-items: flex-start;
  }

  @media (--media-min-xl) {
    margin-left: 0;
  }
}

.linkContainer {
  flex: 1 1 50%;
  margin: 8.5px 0;

  @media (--media-min-large) {
    flex: 1 1 100%;
  }
}

.link {
  text-transform: uppercase;
  text-decoration: none;

  color: #ffffff;
  font-family: Oswald;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1.75px;
  line-height: 21px;

  transition: color 0.25s ease-out;

  &:visited {
    color: #fff;
  }

  &:hover {
    color: #58b146;
  }

  @media (--media-min-large) {
    font-family: Lato, sans-serif;
    text-transform: none;
    color: #979797;
  }
}

.geoContainer {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column nowrap;
  margin-top: 20px;
  margin-left: 100px;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    left: -49px;
    width: 1px;
    top: 10px;
    bottom: 10px;
    background: #979797;
  }

  @media (--media-max-large) {
    display: none;
  }
}

.geoHeading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 24px;
}

.geoList {
  flex: 1 1 auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  max-height: 225px;
}

.geo {
  flex: 1 1 auto;
  margin-bottom: 10px;
}

.doubleWide {
  flex: 2 2 auto;
}

.geoTitle {
  color: #ffffff;
  font-family: Lato;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.4px;
  line-height: 19px;

  @media (--media-min-xl) {
    font-size: 16px;
  }
}

.geoLocations {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  max-width: 210px;
  margin-left: -8px;
}

.geoLocation {
  color: #ffffff;
  font-family: Lato;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.4px;
  line-height: 23px;
  white-space: nowrap;
  word-wrap: unset;
  flex: 1 1 auto;
  margin-left: 8px;
  min-width: 46%;

  @media (--media-min-xl) {
    font-size: 16px;
  }
}
